h3 {
	font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 1.5rem;
	color: white;
}

.card.features:hover {
	transform: none;
}

.form-control:focus {
	border-color: #fa3a8f;
  box-shadow: 0 0 0 0.2rem rgba(255,0,212,.25);
}
.btn-primary.custom {
	width: 100%;
	padding: 0.6rem 1rem;
}

.img-holder {
	padding-bottom: 14% !important;
}

.nav-menu.is-scrolling {
    padding: 0;
}
.nav-menu.is-scrolling, .nav-menu.menu-is-open {
    background: #fff !important;
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling nav.navbar #navbar ul.navbar-nav li.nav-item a.nav-link {
	color: black !important;
}

.btn-primary-custom {
	border-radius: 3px;
  background-image: -moz-linear-gradient( 122deg, #00c6ff 0%, #0072ff 100%);
  background-image: -webkit-linear-gradient( 122deg, #00c6ff 0%, #0072ff 100%);
  background-image: -ms-linear-gradient( 122deg, #00c6ff 0%, #0072ff 100%);
  background-image: linear-gradient( 122deg, #00c6ff 0%, #0072ff 100%);
  box-shadow: -1px 6px 16px 0px rgba(0, 0, 0, 0.13);
  font-weight: 500;
  padding: 0.6rem 2rem;
  border: 0;
	color: white;
}

.btn-danger-custom {
	border-radius: 3px;
	background-image: -moz-linear-gradient( 122deg, #bc4e9c 0%, #f80759 100%);
	background-image: -webkit-linear-gradient( 122deg, #bc4e9c 0%, #f80759 100%);
	background-image: -ms-linear-gradient( 122deg, #bc4e9c 0%, #f80759 100%);
	background-image: linear-gradient( 122deg, #bc4e9c 0%, #f80759 100%);
	box-shadow: -1px 6px 16px 0px rgba(0, 0, 0, 0.13);
	font-weight: 500;
	padding: 0.6rem 2rem;
	border: 0;
	color: white;
}

.btn-second-custom {
	border-radius: 3px;
  background-image: -moz-linear-gradient(to left, #03001e, #7303c0, #ec38bc, #fdeff9);
  background-image: -webkit-linear-gradient(to left, #03001e, #7303c0, #ec38bc, #fdeff9);
  background-image: -ms-linear-gradient(to left, #03001e, #7303c0, #ec38bc, #fdeff9);
  background-image: linear-gradient(to left, #03001e, #7303c0, #ec38bc, #fdeff9);
  box-shadow: -1px 6px 16px 0px rgba(0, 0, 0, 0.13);
	font-size: 13px;
	font-weight: 450;
  padding: 0.375rem 1.35rem;
  border: 0;
	color: white;
	text-transform: lowercase;
}

th {
	font-weight: 500;
}

header#home {
	/* padding: 100px 100px; */
	height: auto;
	width: 100%;
	background-image: url('../images/bg.png');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: white !important;
}

div#whys {
	padding: 145px 100px;
	height: auto;
	width: 100%;
	background-image: url('../images/AssetA.svg');
	background-size: cover;
	background-position: center center;
	color: white !important;
}

.card.users:before {
    content: "";
    position: absolute;
    width: 3px;
    color: #fc73b4;
  background: -webkit-linear-gradient(#11998e, #38ef7d);
  background: -o-linear-gradient(#11998e, #38ef7d);
  background: linear-gradient(#11998e, #38ef7d);
    top: 0;
    bottom: 0;
    left: 0;
}

nav.navbar button.navbar-toggler {
	padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    /* border: 2px solid white; */
		background: #333;
    border-radius: .25rem;
    color: white !important;
}

.is-scrolling nav.navbar button.navbar-toggler {
	padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 2px solid black;
    border-radius: .25rem;
    color: white !important;
}

a.btn:hover {
	color: white;
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
}

.nav-tabs .nav-item .nav-link, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	font-size: 15px !important;
	padding: .5rem 1rem;
	border: 0px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.nav-tabs .nav-link.active {
	box-shadow: 0px -3px 0px #633991 inset;
	transition-duration: 0.15s;
}

@media (min-width: 576px) {
	.modal-dialog.w-1200 {
	    max-width: 1200px;
	    margin: 30px auto;
	}
}


.select2-dropdown.select2-dropdown--below{
    width: 148px !important;
}

.select2-container--default .select2-selection--single{
    padding:6px;
    height: 37px;
    /* width: 148px; */
    /* font-size: 1.2em; */
    position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    /* background-image: -moz-linear-gradient(122deg, #e54595 0%, #fd378e 100%);
    background-image: -ms-linear-gradient(122deg, #e54595 0%, #fd378e 100%);
    background-image: -webkit-linear-gradient(122deg, #e54595 0%, #fd378e 100%);
    background-image: -o-linear-gradient(122deg, #e54595 0%, #fd378e 100%); */
    background-image: linear-gradient(122deg, #e54595 0%, #fd378e 100%);
		/* background-color: #333; */
    width: 40px;
    color: #fff;
    font-size: 1.3em;
    padding: 4px 12px;
    height: 35px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgb(99, 57, 159);
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-toggler {
	    display: none;
	}
}

@media (max-width: 991px) {
	.navbar-nav .nav-link {
    color: #333 !important;
}
}
